**/node_modules
/node_modules
node_modules/
.git
.github
.env
.env.*
build
dist
coverage
*.log
.DS_Store
.cursorrules
artifacts
brain
documentation
pdf_docs
swascripts
infrastructure
tests
**/tests
docs
**/*.md
**/*.jpg
**/*.png
**/*.gif
**/*.svg
**/*.pdf
**/*.zip
**/*.tar.gz
